html {
    width: 100%;
    height: 100%;
    display: table;
}
  
body {
    display: table-cell;
    width: 100%;
    height: 100%;
}  

.main{
    display: flex;
    position:relative;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    flex-direction: column;
    background-color: #eeeeee;
    /* border: 1px solid #00ff00; */
}
.title{
    width: 100%;
    /* min-width: 260px; */
    height: 40px;
    background-color: #ffffff;
    padding-top: 5px;
    position:relative;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(75, 75, 75);

    position:absolute;
}

.title a{
    font-size: 20px;
    font-weight: 800;
}

.chat_box{
    width: 100%;
    min-height: 30px;
    top: 40px;
    bottom: 90px;
    position: absolute;
    border-top: 2px solid #dfdfdf;
    background-color: #eeeeee;
}

#server_table{
    float: right;
    margin-top: 10px;
}

.submit_box{
    width: 100%;
    height: 90px;
    /* min-width: 260px; */
    /* border-bottom: 1px solid #ffffff; */
    border-top: none;
    overflow-x: hidden;

    background-color: #eeeeee;
    position:absolute;
    bottom:0;
    /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8); */
}

.submit_box table{
    width: 100%;
    /* min-width: 260px; */
    border: 0px;
    /* overflow-y: hidden; */
}

.submit_image{
    margin-top: 3px;
}

#submit_button{
    width: 40px;
    height: 40px;

    font-size: 15px;
    font-weight: 500;

    border: none;
    background-color: #ffffff;

    text-align: center;
}

#table1{
    background-color: #eeeeee;
    margin-bottom: 5px;
    height: 30px;
    min-width: 100px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
}

#table1 td{
    background-color: #ffffff;
    border-radius: 5px;
    height: 25px;
    min-width: 62px;
    /* padding: 2px; */
    /* margin: 2px; */
    padding: 0px;
    box-shadow: 0px 0px 30px #ffffff;

    font-size: 15px;
    font-weight: 700;

    text-align: center;
}

#table2{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    height: 30px;
    border-top: none;
    overflow-x: hidden;
}

#input_text{
    width: 100%;
    height: 38px;
    margin: 0px;
    /* padding-top: 20px; */
    border: 0px;
    size: 5;
    background-color: #eeeeee;
    border-radius: 5px;

    float: left;
}

#input_test:focus{
    border: 0px;
}

#submit{
    width: 100%;
    height: 90%;
    margin: 0px;
    padding: 0px;

    font-size: 25px;
    font-weight: 1000;

    background-color: #ffffff;
}

#bubble{
    width: 100%;
    margin: 0px;
    
    border: none;
    background-color: #ffffff;
}

.server_image{
    width: 50px;
    height: 50px;
    margin-right: 10px;

    top:0;
    
    float: left;
}

.user_image{
    width: 50px;
    height: 50px;
    margin-left: 10px;

    top:0;
    
    float: left;
}

.head{
    width: 100%;
    float: left;
}

.message{
    background-color: #ffffff;
    width: auto;
    min-width: 10px;
    height: auto;
    min-height: 20px;
    float: left;

    border-radius: 10px;

    padding: 10px;
    margin-right: 20px;

    display: block;

    text-align: left;
    /* font-size: 20px; */
}

.botton_line{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}